@import url(./__list/managers__list.css);
@import url(./__item/managers__item.css);

.managers {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}

@media screen and (max-width: 568px) {
  .managers {
    padding: 15px 0 18px;
  }
}

.managers__list {
  /* ... */
}

.managers__item {
  /* ... */
}
